/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body {

    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(101, 136, 236), rgb(70, 70, 144));

}
html {

    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(101, 136, 236), rgb(70, 70, 144));
    height: 100%;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
    /*background-color: rgb(66, 89, 154);*/
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(88, 109, 191);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(88, 109, 191);
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.content-wrapper{

    background-color: #f8f8f8;
    border-radius: 5px;

}



/*RESPONSIVE*/

@media screen and (max-width: 993px) {
    .nav > li > a {
        position: relative;
        display: block;
        padding: 15px 5px;
    }
}
.test{
    border: 1px solid black;
}
.PageWrapper{

    display: block;
    margin-top: 20px;
    padding-bottom: 50px;
}
.PageWrapper div h5{
    margin-right: 10px;
    line-height: 20px;
}
.PageWrapper div h4{
    margin-left: 15px;
    line-height: 20px;
}
#InfoHeading{
    background-color: #4E667D;
    color: white;
}
/*-------------------------*/
#profileImageContainer{

    margin-top: 20px;

}
#profileImageContainer img{
    vertical-align: top;
    border: 1px solid black;
    margin-bottom: 10px;
}
#profileImageContainer label{

    height: 30px;
}
#saveUserInfo{
    margin-top: 10px;
}
#userInformationContainer{


    margin-top: 20px;
}
#userInformationContainer label{
    margin-top: 5px;
}
#profileStatus {
    color: #5cb85c;
}
#profileImage{
    width: 150px;
}
/*-------------------------*/
#leaveReportContainer{

    margin-top: 10px;
}

#yearOption{

    display: inline-block;
    width: 80px;
}
.innerTableContainer{

    overflow: auto;
    display: block;
    max-height: 400px;
}
/*-------------------------*/
#requestReportContainer{

    margin-top: 10px;
}
#monthOption{

    margin-left: 30px;
    display: inline-block;
    width: 100px;
}

/*-------------------------*/
#officialHolidaysAdministration{

    margin-top: 20px;
    margin-bottom: 20px;
}
#holidaysAdminOptions{

    margin-bottom: 10px;
}
#workedOption{
    margin-top: 10px;
}

#description{
    position: static;
    max-width: 390px;
    min-height: 145px;
}
.datePreview{

    display: inline-block;
}
.ui-datepicker-inline{
    height: 230px;
}
.datePreviewContainer{
    text-align: left;
}

.ui-datepicker-week-end a {
    background-image: none;
    background-color: #8cbbff !important;
    color: white !important;
}
.ui-state-highlight{
    border: 3px solid #e84000 !important;
    /*background-color: #8cbbff !important;*/
}
.ui-state-highlight a{
    color: white !important;
    background-color: #8cbbff !important;
}
#previewBox{
    max-width: 715px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 10px;

}
#monthHolidays{
    max-width: 1135px;
    max-height: 400px;
    overflow: auto;
}
#addHoliday{
    margin-top: 25px;
}
/*-------------------------------*/

#userAdministrationInfoUsersWrapper{


    margin-top: 20px;
}
#usersList{
    margin-top: 10px;
    overflow: auto;
    display: block;
    max-height: 500px;
}
#userAdministrationUsersWrapper{
    margin-top: 20px;
}
#userRoleOptions{
}
#isActive{


}
#addUser,#generatePassword{

margin-top: 10px;
}
/*--------------------------*/

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: darkgray;
    color: white;
}

#addRemoveOfficialLeave{

    margin-top: 20px;
    margin-bottom: 10px;
}
#officialDescription{

    max-height: 200px;
}
#addRemoveLeave{

    margin-top: 20px;
}
#officialButtonsWrapper{

    margin-top: 10px;
}
#unOfficialButtonsWrapper{
    margin-top: 10px;
}