/*
Official Leave Application
*/


h2 {
	
}
table{
	border: 1px solid #E8EEF4;
	width:100%
}
th{
	background-color: #E8EEF4;
	/*width:30%;*/
}
h4{
	background-color:#4E667D;
	color: white;
}
.year{
	width:100%;
	text-align:center;
}

.buttonDiv{
	text-align: center;
}